[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rMultiNet"]
	path = rMultiNet
	url = https://github.com/chenyuzzz73/rmultinet
